# Backend
DATABASE_URL="file:./data/getraenke.db"
JWT_SECRET="REPLACE_ME_WITH_256_RANDOM_CHARS"
PORT=4000
FRONTEND_ORIGIN="http://localhost:3001"
APP_BASE_URL="http://localhost:3001"
NODE_ENV=development

# Frontend (Vite)
VITE_API_URL="http://localhost:4000"
